@model IEnumerable<Employee>

@if(TempData["ResultOk"] != null)
{
    <h2 class="alert alert-success" style="margin-left: 12px; text-align: center">@TempData["ResultOk"]</h2>
}

<div id="delete-message" ></div>

@if (TempData["EditOK"] != null)
{
    <h2 class="alert alert-warning" style="margin-left: 12px; text-align: center">@TempData["EditOK"]</h2>
}
<a href="/employee/add" class="btn btn-success"><i class="bi bi-plus-lg"></i> New Employee</a>

<table class="table">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Contact</th>
			<th scope="col">Email</th>
			<th scope="col">State</th>
			<th scope="col">Department</th>
			<th scope="col">Salary</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var employee in Model)
		{
			<tr id="row-@employee.Id">
				<td>@employee.Name</td>
				<td>@employee.ContactNumber</td>
				<td>@employee.Email</td>
				<td>@employee.State</td>
				<td>@employee.Department</td>
				<td>@employee.Salary</td>
				<td>
					<div role="group" class="btn-group">
						<a asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-warning">Edit</a>
						<input type="button" class="btn btn-danger btn-employee-delete" name="id" id="@employee.Id" value="Delete" />
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
@section Scripts {
	<script>
		$('.btn-employee-delete').on('click', function () {
			debugger
			var id = $(this).attr('id');
			$.ajax({
				url: '/Employee/Delete',
				type: 'Post',
				data: {
					id: id
				},
				success: function (data) {
						debugger			
					alert('Delete this??');

					$("#row-" + id).remove();
					if (data == "success") {
						$("#delete-message").text("Data Deleted Successfully");
					}					
				},
				error: function () {
					alert("An error occurred while deleting the employee.");
				}
			});
		});
	</script>
}

